---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import EventsPreview from '../components/EventsPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const events = (await getCollection('events')).sort(
	(a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Nos évènements | APE"
	description="Nos prochains évènements"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Nos évènements à venir"
				tagline="Voici nos prochains évènements"
				align="start"
			/>
			<p>
				INFO : Par manque de bénévoles, la Randonnée/VTT du 2 Juin est annulée
			</p>
			<p>
				Pour s'inscrire en tant que bénévole pour les prochaines manifestations, vous pouvez le faire ici :</br>
				<a href="https://framadate.org/OrganisationAPE2024" target="_blank">ORGANISATION FIN D'ANNEE</a>
			</p>
			<Grid variant="offset">
				{
					events.map((events) => (
						<li>
							<EventsPreview project={events} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
