---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import Year2024Preview from '../components/Year2024Preview.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

const projects = (await getCollection('Year2024'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 3);

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="APE Ste Anne"
					tagline="L'association des parents d'élèves de l'école primaire André Frénod de Sainte Anne sur Gervonde (Isère 38)"
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="bus" size="1.33em" />Finance les sorties scolaires</Pill>
					</div>
					<div class="roles">
						<Pill><Icon icon="calendar-check" size="1.33em" />Organise des évènements</Pill>
					</div>
					<div class="roles">
						<Pill><Icon icon="handshake" size="1.33em" />Met en place des partenariats</Pill>
					</div>
				</Hero>

				<img
					alt="Logo APE"
					width="390"
					height="195"
					src="/APE/assets/logo ecole.jpg"
				/>
			</header>

			<div class="stack gap-20">
				<main class="wrapper stack gap-8">
						<h4>En préparation : <a href="/APE/Year2024/disco">Soirée Dansante le 8/02 !
						<br>
						<br>
						<img
							alt="Disco"
							width="300"
							height="80"
							src="/APE/assets/sono-california.png"
						/></a></h4>
				</main>
			</div>

			<div class="stack gap-20">
				<main class="wrapper stack gap-8">
						<h4>En ce moment : <a href="/APE/Year2024/miel_25_01">Miel du "Rucher d'Alex" !
						<br>
						<br>
						<img
							alt="Pub Miel"
							width="200"
							height="80"
							src="/APE/assets/RucherAlexLogo.png"
						/></a></h4>
						<h6>!!! Suite à l'incendie qui a touché la boulangerie Fornecci, 
							les brioches au miel et les pains d'épice ne sont malheureusement plus disponibles en commande. 
							Merci de votre compréhension.</h6>
				</main>
			</div>
			
			<div class="role stack gap-4 lg:gap-8">
				<h5>Rôle de l'APE :</h5>
				l’APE est une association de parents d’élèves bénévoles qui organisent des
				manifestations tout au long de l’année, afin de recueillir l’argent nécessaire au financement des
				activités extra scolaires proposées par nos enseignants (sorties, intervenants, classe verte, classe
				de neige…).
				<br/>		
				<h5>Membres de l'APE : </h5>
				Tous les parents d’élèves de l’école de Ste Anne sur Gervonde.
				<h5>Page <a href="https://www.facebook.com/groups/1374563912808744" target="_blank">Facebook</a> de l'APE</h5>
				Venez visiter notre page Facebook pour suivre nos évènements.
			</div>

			<Skills />
		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h4>Nos derniers évènements et partenariats de cette année</h4>
				</header>
				
				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((p) => (
								<li>
									<Year2024Preview project={p} />
								</li>
							))
						}
					</Grid>
				</div>
				
				<div class="cta">
					<CallToAction href="/APE/Year2024/">
						Tous nos évènements et partenariats
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>
<!-- 
			<section class="section with-background bg-variant">
				
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Mentions</h3>
					<p>
						I have been fortunate enough to receive praise for my work in several publications. Take
						a look below to learn more.
					</p>
				</header>				
				<div class="gallery">
					<Grid variant="small">
						{
							['Medium', 'BuzzFeed', 'The Next Web', 'awwwards.', 'TechCrunch'].map((brand) => (
								<li class="mention-card">
									<p>{brand}</p>
								</li>
							))
						}
					</Grid>
				</div>
			</section>
-->
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: flex;
		gap: 0.5rem;
	}

	.hero img {
		aspect-ratio: 2;
		object-fit: cover;
		object-position: top;
		border-radius: 2.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 2;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/APE/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>
