---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout
	title="Le bureau | APE"
	description="L'équipe qui compose le bureau"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Le bureau"
				tagline="Voici l'équipe qui compose le bureau"
				align="start">
				<center>
					<img
						width="800"
						height="400"
						src="/APE/assets/Trombinoscope2025.jpg"
						alt="Trombinoscope2025"
					/>					
				</center>
				<p>
					N'hésitez à venir nous parler si vous avez des questions, des remarques ou des idées.
				</p>
			</Hero>			
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
