---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Year2023Preview from '../components/Year2023Preview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('Year2023')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="2023-2024 | APE"
	description="2023-2024"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="2023-2024"
				tagline="Voici les évènements et partenariats de l'année passée"
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((p) => (
						<li>
							<Year2023Preview project={p} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
