---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="bus" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Finance les sorties scolaires</h2>
		<p>Grâce aux bénéfices des évènements et partenariats, les enfants peuvent faire des sorties éducatives aux musées, cinémas, fermes, parcs ... </p>
		<p>Cette année : ateliers et spectacle sur le cirque pour les PS, MS, GS et CP</p>
		<p>et pour les CE1, CE2, CM1 et CM2 : un stage VTT sur 5 jours</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="calendar-check" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Organise des évènements</h2>
		<p>Il y a l'habituelle Kermesse de fin Juin et aussi notre traditionnelle matinée Boudin/Diots début Novembre</p>
		<p>Ensuite nous avons comme projets une soirée dansante, une chasse aux oeuf et un concours de Pétanque</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="handshake" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Met en place des partenariats</h2>
		<p>De nombreux partenariats vont être lancé cette année : miel, fleurs/légumes, pizzas, ...</p>
		<p>Mais surtout nous renouvellons les appréciées commandes de gâteaux BIJOU et de fromages d'Arinthod</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
