---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="bus" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Finance les sorties scolaires</h2>
		<p>Grâce aux bénéfices des évènements et partenariats, les enfants peuvent faire des sorties éducatives aux musées, cinémas, fermes, parcs ... </p>
		<p>Mais également des "Classes de Neige" pendant 5 jours ou des "Classes Transplantées" pendant 3 jours</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="calendar-check" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Organise des évènements</h2>
		<p>Il y a la traditionnelle Kermesse de fin Juin et aussi habituellement une matinée Boudin/Diots début Novembre</p>
		<p>Ensuite nous tentons des concerts, des randos/VTT et cette année un concours de Pétanque</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="handshake" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Met en place des partenariats</h2>
		<p>De nombreux partenariats ont été lancé cette année : chocolats, miel, fleurs/légumes, pizzas, ...</p>
		<p>Nous renouvellons même une 2eme fois les commandes de gâteaux Bijou et de fromage Arinthod</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
